In [67]:
# Install and Import Libraries
#!pip install kaggle
import kaggle

In [68]:
#Download dataset from kaggle
!kaggle datasets download shivamb/netflix-shows -f netflix_titles.csv

Dataset URL: https://www.kaggle.com/datasets/shivamb/netflix-shows
License(s): CC0-1.0
netflix_titles.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [69]:
import pandas as pd

# Load the dataset
df = pd.read_csv('netflix_titles.csv',encoding='utf-8')

In [70]:
# Quick check for foreign characters
print(df['title'].head())

0     Dick Johnson Is Dead
1            Blood & Water
2                Ganglands
3    Jailbirds New Orleans
4             Kota Factory
Name: title, dtype: object

In [71]:
# Setup the Connection between Jupyter Notebook (Python) and SQL Server using ODBC connection
from sqlalchemy import create_engine,NVARCHAR


dtype={'title':NVARCHAR(length=1000)}

# Define the ODBC Connection String
connection_string = "mssql+pyodbc://Rohit\\SQLEXPRESS/AdventureWorksDW2019?driver=ODBC+Driver+17+for+SQL+Server"


# Create the SQLAlchemy engine
engine = sal.create_engine(connection_string)

# Connect to the database
conn = engine.connect()

In [72]:
df.to_sql('netflix_raw', con=conn, index=False, if_exists='append',dtype=dtype)
conn.close()

In [23]:
len(df)

8807

In [74]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [10]:
df[df.show_id=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [43]:
max(df.title.str.len())

104